<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Posts: busque por seus conteúdos.</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="app">
      <div class="app__container">
        <h1 class="app__title">Posts &#x2B50</h1>
        <h2 class="app__subtitle">Para buscar um post, insira uma palavra-chave.</h2>
        <form action="posts" method="get" accept-charset="utf-8">
          <label for="busca"></label>
          <input type="text" name="busca" placeholder="Digite aqui." />
          <a href="">Crie um post novo!</a>
          <div id="app__erro"></div>
          <input type="submit" value="Pesquisar" />
        </form>
        <ul>
          {{#posts}}
            <ul>
              <li>{{title}}</li>
              <li>{{description}}</li>
              <li>{{link}}</li>
            </ul>
          {{/posts}}
        </ul>
      </div>
      <div class="app__container">
        <h1 class="app__title">Novas postagens &#x2B50</h1>
        <h2 class="app__subtitle">
          Para registrar um artigo, insira o titulo, a descrição e o link.
        </h2>
        <form action="posts" method="post" accept-charset="utf-8">
          <label for="title">Titulo:</label>
          <input type="text" name="title" />
          <label for="description">Descrição:</label>
          <input type="text" name="description" />
          <label for="link">Link:</label>
          <input type="text" name="link" />
          <a href="posts">Volte para a aba de pesquisa.</a>
          <div id="app__erro-register"></div>
          <input type="submit" value="Adicionar" />
        </form>
      </div>
    </div>
  </body>
</html>